<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>UNIMED TMDB</span>
  <span class="spacer"></span>
  <button routerLink="" mat-button >Home</button>
  <button routerLink="/top-10" mat-button>Top 10 no Brasil</button>
  <button routerLink="/rated" mat-button>Mais curtidos por você</button>

  <button mat-raised-button color="warn" (click)="Logout()">Sair</button>
</mat-toolbar>

