.card-class {
    margin: 1% 2%;
    width: 15%;
    text-align: left;
    float: left;
}

.overview {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.actions:hover .rating {
    display: block;
}

.actions:hover .like-btn {
    display: none;
}

.rating {
  position: absolute;
  width: 200px;
  display: none;
}
