<div *ngFor="let movie of movies">
  <mat-card class="card-class">
    <img mat-card-image src="{{publicPathImage}}/{{movie.poster_path}}">
    <mat-card-content>
      <h6 class="overview">{{movie.overview}}</h6>
      <a mat-button (click)="openDialog(movie.id)">Mais detalhes</a>

      <mat-card-subtitle>Avaliação: {{movie.vote_average}}</mat-card-subtitle>
      <mat-card-actions class="actions">
        <button mat-button class="like-btn">
          <mat-icon svgIcon="thumbs-up-solid"></mat-icon>
        </button>
        <div class="rating">
          <mat-slider min="0" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel">
            <input matSliderThumb #inputRate (change)='rate(movie.id, inputRate.value)' value="{{movie.rating}}">
          </mat-slider>
        </div>
      </mat-card-actions>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
