<mat-card>
  <mat-card-header>
    <h1>Login</h1>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="proceedLogin()">

      <mat-form-field class="example-full-width" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%;">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>

      <div>
        <button style="margin-right: 20px;" mat-raised-button color="primary">Login</button>
        <a routerLink="/login" mat-raised-button color="accent">Voltar a tela de login</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
