<div class="card-dialog">
  <img src="{{publicPathImage}}/{{movie.poster_path}}">
  <mat-card class="card-class">
    <mat-card-content>
      <mat-card-title>{{movie.original_title}}</mat-card-title>
      <mat-card-subtitle>{{movie.runtime}} min</mat-card-subtitle>
      <h6>{{movie.overview}}</h6>
      <h5><strong>Gêneros:</strong> {{movie.genres}}</h5>
      <h5><strong>Data de lançamento:</strong> {{movie.release_date}}</h5>
      <mat-card-subtitle><strong>Avaliação:</strong> {{movie.vote_average}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-button>
          <mat-icon svgIcon="thumbs-up-solid"></mat-icon> Like
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
