<mat-card>
  <mat-card-header>
    <h1>Cadastro de usuário</h1>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="proceedRegistration()">

      <mat-form-field class="example-full-width" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%;">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%;">
        <mat-label>Nome</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary">Primary</button>
        <a routerLink="/login" mat-raised-button color="accent">Voltar a tela de login</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
